<div class="flex flex-col gap-y-2">
  <label
    for="{{ id }}"
    [className]="cx('text-slate-400 font-semibold', disabled && 'text-black')"
    >{{ label }}</label
  >
  <textarea
    name="{{ id }}"
    placeholder="{{ placeholder }}"
    class="p-[13px] rounded-xl border resize-none h-24 border-slate-100 placeholder:font-semibold disabled:font-semibold"
    [(ngModel)]="value"
    (input)="onChange(value)"
    disabled="{{ disabled }}"
  ></textarea>

  @if(control?.invalid && (control?.touched || control?.dirty)) {
  <div class="mt-1 text-sm text-red-500">
    @for( inputError of errors; track $index ) { @if(control?.hasError(inputError.type)) {
    <p>{{ inputError.message }}</p>
    } }
  </div>
  }
</div>
