<aside class="h-screen flex flex-col py-4 px-6 border-r border-gray-200">
  <header class="text-xl font-semibold">
    <h1>Restaurante Dashboard</h1>
  </header>
  <section class="flex flex-col gap-y-2 mt-4">
    <h3 class="text-sm text-gray-400 font-medium">Navegacion</h3>
    <app-link href="/">
      <lucide-angular [img]="LayoutGridIcon" [strokeWidth]="1.5" />
      DashBoard
    </app-link>
    <app-link href="/comidas">
      <lucide-angular [img]="UtensilsIcon" [strokeWidth]="1.5" />
      Comidas
    </app-link>
  </section>
</aside>
