<aside class="h-screen sticky top-0 flex flex-col py-4 px-6 border-r border-gray-200">
  <header class="text-xl font-semibold">
    <h1>Restaurante Dashboard</h1>
  </header>
  <section class="flex flex-col h-full gap-y-2 mt-4">
    <h3 class="text-sm text-gray-400 font-medium">Navegacion</h3>
    <app-link href="/">
      <lucide-angular [img]="LayoutGridIcon" [strokeWidth]="1.5" />
      DashBoard
    </app-link>
    <app-link href="/comidas">
      <lucide-angular [img]="UtensilsIcon" [strokeWidth]="1.5" />
      Comidas
    </app-link>
    <app-link href="/galeria">
      <lucide-angular [img]="GaleryIcon" [strokeWidth]="1.5" />
      Galería
    </app-link>

    <app-link href="/categorias">
      <lucide-angular [img]="TagsIcon" [strokeWidth]="1.5" />
      Categorías
    </app-link>
    <app-link href="/usuarios">
      <lucide-angular [img]="UserIcon" [strokeWidth]="1.5" />
      Usuarios
    </app-link>
    <app-link href="/mesas">
      <lucide-angular [img]="TableIcon" [strokeWidth]="1.5" />
      Mesas
    </app-link>
    <app-link href="/ordenes">
      <lucide-angular [img]="OrdenesIcon" [strokeWidth]="1.5" />
      Ordenes
    </app-link>
    <app-link href="/chat">
      <lucide-angular [img]="MessageCircleIcon" [strokeWidth]="1.5" />
      Chat
    </app-link>
  </section>

  <footer
    class="py-[11px] px-[13px] border rounded-xl relative border-slate-200 flex items-center justify-between"
    #userDropdown
    (click)="toggle()"
  >
    <div class="flex items-center gap-x-2.5">
      <span class="size-8 rounded-full bg-slate-100 block"></span>
      <div class="flex flex-col">
        <p class="font-semibold">{{ authService.user?.nombre }}</p>
        <p class="text-slate-300 text-sm font-semibold">{{ parseRole() }}</p>
      </div>
    </div>

    @if(isOpen){
    <div
      class="absolute left-full translate-x-5 top-0 -translate-y-1/3 mt-2 w-full bg-white border border-slate-200 rounded-xl shadow-lg"
    >
      <a
        routerLink="/perfil"
        class="p-2.5 hover:bg-slate-100 rounded-t-xl flex gap-x-2.5 items-center font-semibold"
      >
        <lucide-angular [img]="UserIcon" [strokeWidth]="1.5" />

        Perfil
      </a>

      <button
        class="w-full text-left p-2.5 hover:bg-red-800/10 flex items-center gap-x-2.5 text-red-800 font-semibold rounded-b-xl"
        (click)="authService.logout()"
      >
        <lucide-angular [img]="LogOutIcon" [strokeWidth]="1.5" />

        Cerrar Sesión
      </button>
    </div>
    }
  </footer>
</aside>
