<div [className]="cx('w-full h-full flex flex-col gap-2', className)">
  <section class="gap-2 grid grid-cols-2 overflow-y-auto" #printSection>
    <app-input
      label="Id del Pedido"
      [value]="detalle?.pedidoId?.toString() ?? ''"
      [disabled]="true"
    />
    <app-input label="Total" [value]="detalle ? detalle.total.toString() : ''" [disabled]="true" />
    <app-input label="Fecha de Creación" [value]="getFechaFormateada()" [disabled]="true" />
    <div class="flex flex-col gap-y-2">
      <label class="font-semibold"> Metodo de Pago </label>
      <app-bagde>
        <lucide-angular [img]="CardIcon" />
        {{ detalle?.metodoPago }}
      </app-bagde>
    </div>
    <div class="flex flex-col gap-y-2">
      <label class="font-semibold"> Estado </label>
      <app-bagde>
        <lucide-angular [img]="EstadoIcon" />
        {{ detalle?.estado }}
      </app-bagde>
    </div>
    <div class="flex col-span-2 w-full flex-col">
      <label class="font-semibold text-slate-400">Mesa asociada</label>
      <div
        class="w-full grid grid-cols-2 justify-between border border-slate-300 rounded-xl p-4 gap-4 bg-slate-100"
      >
        <span class="flex flex-col">
          <p class="font-semibold text-slate-400">Número de mesa</p>
          <p class="font-semibold">{{ detalle?.mesa?.numeroMesa }}</p>
        </span>

        <span class="flex flex-col">
          <p class="font-semibold text-slate-400">ID mesa</p>
          <p class="font-semibold">{{ detalle?.mesa?.mesaId }}</p>
        </span>

        <span class="flex flex-col">
          <p class="font-semibold text-slate-400">Capacidad</p>
          <p class="font-semibold">{{ detalle?.mesa?.capacidad }} personas</p>
        </span>
      </div>
    </div>

    <div class="flex col-span-2 w-full flex-col">
      <label class="font-semibold text-slate-400">Comidas del Pedido</label>
      @for(comida of getOrderComidaPedido(); track comida.comida.comidaId){
      <div
        class="w-full grid grid-cols-2 justify-between border first:mt-0 mt-2 border-slate-300 rounded-xl p-4 gap-4 bg-slate-100"
      >
        <span class="flex flex-col">
          <span class="flex flex-col">
            <p class="font-semibold text-slate-400">{{ comida.comida.nombre }}</p>
            <p class="font-semibold">
              x{{ comida.cantidad }} unidades * ID comida {{ comida.pedidoComidaId }}
            </p>
          </span>
        </span>

        <span class="flex flex-col">
          <p class="font-semibold">S/.{{ comida.cantidad * comida.comida.precio }}</p>
        </span>

        <span class="flex flex-col">
          <p class="font-semibold">Precio unitario: S/.{{ comida.comida.precio }}</p>
        </span>

        <span class="flex flex-col">
          <p class="font-semibold">Disponible: {{ comida.comida.disponible ? 'Sí' : 'No' }}</p>
        </span>
        <span class="flex items-center gap-2 col-span-2">
          <app-bagde
            [className]="
              cx('cursor-pointer', comida.estado === 'PENDIENTE' && 'bg-slate-900 text-white')
            "
            (click)="onChangeEstado(comida.pedidoComidaId, 'PENDIENTE')"
          >
            Pendiente
          </app-bagde>
          <app-bagde
            [className]="
              cx('cursor-pointer', comida.estado === 'DESPACHADO' && 'bg-slate-900 text-white')
            "
            (click)="onChangeEstado(comida.pedidoComidaId, 'DESPACHADO')"
          >
            Despachado
          </app-bagde>
          <app-bagde
            [className]="
              cx('cursor-pointer', comida.estado === 'CANCELADO' && 'bg-slate-900 text-white')
            "
            (click)="onChangeEstado(comida.pedidoComidaId, 'CANCELADO')"
          >
            Cancelado
          </app-bagde>
          <app-bagde
            [className]="
              cx('cursor-pointer', comida.estado === 'COMPLETADO' && 'bg-slate-900 text-white')
            "
            (click)="onChangeEstado(comida.pedidoComidaId, 'COMPLETADO')"
          >
            Completado
          </app-bagde>
        </span>
      </div>
      }
    </div>
  </section>

  <footer class="flex items-center justify-end gap-2">
    <app-button
      (click)="printDetalle()"
      className="border border-slate-300 bg-transparent text-black flex items-center gap-2"
    >
      <lucide-angular [img]="PrinterIcon" />
      Imprimir Detalle
    </app-button>

    <app-button className="flex items-center gap-2" (click)="cancelarPedido()">
      <lucide-angular [img]="TrashIcon" />
      Cancelar Pedido
    </app-button>
    <app-button className="flex items-center gap-2" (click)="completarPedido()">
      <lucide-angular [img]="CheckIcon" />
      Completar Pedido
    </app-button>
  </footer>
</div>

@if(isOpenCancelModal() && detalle) {
<app-cancel-orden [detalle]="detalle" [onCloseModal]="onCloseCancelModal" />
} @if(isOpenCompleteModal() && detalle) {
<app-complete-orden [detalle]="detalle" [onClose]="onCloseCompleteModal" />
}
