<app-modal (click)="onCloseHandler()" className="w-[926px]">
  <header class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Galeria de imagenes</h2>

    <button (click)="onCloseHandler()">
      <lucide-angular [img]="XIcon" />
    </button>
  </header>

  <app-tabs>
    <app-tab-header>
      <app-tab-button [index]="0">
        <lucide-angular [img]="PhotoIcon" />
        Galería
      </app-tab-button>

      <app-tab-button [index]="1">
        <lucide-angular [img]="PhotoIcon" />
        Subir Imagen
      </app-tab-button>
    </app-tab-header>
    <app-tab-list className="h-[500px]">
      <app-tab>
        <main class="grid grid-cols-3 gap-4 mt-4">
          @for(image of recursos; track image.recursoId){
          <app-card-image
            [uploadImage]="image.fechaCreacion"
            [imageTitle]="image.nombre"
            (click)="onSelectImage(image.recursoId, image.nombre)"
            [className]="
              selectedImage.recursoId === image.recursoId ? 'border-2 border-blue-500' : ''
            "
          >
          </app-card-image>
          }
        </main>
      </app-tab>
      <app-tab>
        <section class="flex flex-col gap-y-4 w-full">
          <div class="flex flex-col gap-y-2 w-full">
            <p class="font-semibold">Archivo</p>
            <button
              class="flex items-center p-[13px] text-slate-400 border rounded-xl border-slate-300 gap-2.5"
              (click)="onClickInputFile()"
            >
              <lucide-angular [img]="UploadIcon" class="size-[18px]" />
              Seleccionar Archivo
            </button>
          </div>

          <input
            type="file"
            class="hidden"
            #fileInput
            (change)="dropService.onChangeInputFile($event)"
          />

          <div
            (drop)="dropService.handleDrop($event)"
            (dragover)="dropService.handleDragOver($event)"
            (dragleave)="dropService.handleDragLeave($event)"
            (click)="onClickInputFile()"
            [className]="
              cx(
                'w-full rounded-3xl cursor-pointer',
                !selectedImage.file
                  ? 'border-dashed border-2 border-slate-200 p-8 flex flex-col gap-2'
                  : 'h-[400px] overflow-hidden'
              )
            "
          >
            @if(selectedImage.file){
            <img [src]="getFileUrl()" class="h-full w-full object-cover" />
            }@else{
            <lucide-icon [img]="PhotoIcon" class="size-8 mx-auto text-slate-300" />
            <p class="text-center text-slate-400">Arrastra y suelta un archivo aquí</p>
            }
          </div>
        </section>
      </app-tab>
    </app-tab-list>
  </app-tabs>
  <footer class="flex justify-end w-full gap-x-2">
    <app-button
      className="bg-transparent text-black border border-slate-300"
      (click)="onCloseHandler()"
    >
      Cancelar
    </app-button>
    <app-button (click)="onSubmit()"> Seleccionar Imagen </app-button>
  </footer>
</app-modal>

@if(isLoading){
<app-load />
}
