<app-modal (click)="onCloseHandler()" className="w-[926px]">
  <header class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Crear Categoria</h2>

    <button (click)="onCloseHandler()">
      <lucide-angular [img]="XIcon" />
    </button>
  </header>

  <app-tabs>
    <app-tab-header>
      <app-tab-button [index]="0">
        <lucide-angular [img]="PhotoIcon" />
        Galería
      </app-tab-button>

      <app-tab-button [index]="1">
        <lucide-angular [img]="PhotoIcon" />
        Subir Imagen
      </app-tab-button>
    </app-tab-header>
    <app-tab-list className="h-[500px]">
      <app-tab>
        <main class="grid grid-cols-3 gap-4 mt-4">
          @for(image of recursos; track image.recursoId){
          <app-card-image [uploadImage]="image.fechaCreacion" [imageTitle]="image.nombre">
          </app-card-image>
          }
        </main>
      </app-tab>
      <app-tab> subir imagen </app-tab>
    </app-tab-list>
  </app-tabs>
</app-modal>

@if(isLoading){
<app-load />
}
