<section class="p-[17px] w-full h-full border space-y-2 border-slate-300 rounded-3xl">
  <header class="flex items-center justify-between">
    <div class="flex items-center gap-x-2">
      <img
        [src]="getImageUrl()"
        alt="{{ categoryName }}"
        class="w-10 h-10 rounded-full object-cover"
      />
      <h3 class="text-lg font-medium text-slate-700">{{ categoryName }}</h3>
    </div>

    <span class="block py-2 px-4 rounded-4xl border font-semibold border-slate-300 bg-slate-50">
      {{ itemCount }} platos
    </span>
  </header>

  <app-bagde className="mb-2 w-full max-w-none font-semibold">
    {{ categoryStatus ? 'Activo' : 'Inactivo' }}
  </app-bagde>

  <div class="flex items-center justify-between">
    <app-tooltip
      text="Solo Administradores"
      [position]="PositionTooltip.BOTTOM"
      [disable]="authService.isAdmin()"
    >
      <app-button
        className="bg-slate-50 border flex items-center gap-x-2 py-1 border-slate-300 text-black"
        (click)="openEditModal(categoryId)"
        [disabled]="!authService.isAdmin()"
      >
        <lucide-angular [img]="EditIcon" class="size-4" />
        Editar
      </app-button>
    </app-tooltip>

    <app-tooltip
      text="Solo Administradores"
      [position]="PositionTooltip.BOTTOM"
      [disable]="authService.isAdmin()"
    >
      <app-button
        className="bg-slate-50 border flex items-center gap-x-2 py-1 border-slate-300 text-black"
        (click)="openDeleteModal(categoryId)"
        [disabled]="!authService.isAdmin()"
      >
        <lucide-angular [img]="TrashIcon" class="size-4" />
        Eliminar
      </app-button>
    </app-tooltip>
  </div>
  <p class="text-slate-400 text-sm">
    {{ categoryDescription }}
  </p>
</section>
